.container {
    display: flex;
    /* or inline-flex */
    flex-wrap: wrap;
    justify-content: center;
}


img {
    width: 450px;
    height: 300px;
}

h1 {
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    width: 400px;
    text-align: center;
}